html,body{
    height:  100%;
}
header{
    display: block;
    background-color:#1d9599 ;
    color: azure;
    padding: 5px;
}

section{
    width: 80%;
    background: #fff;
    float: left;
    overflow:  auto;
    padding-bottom: 30px;
    padding-top: 10px;
}

aside{
    float: left;
    border: 0px solid rgb(0, 0, 0);
    width: 20%;
    border: 0px solid rgb(0, 0, 0);
    background: rgb(245, 245, 245);
    height: 100%;
}

footer{
    position: -webkit-sticky;
    margin-top: -50px;
    height: 120px;
    padding: 5px 0px;
    clear: both;
    background: rgb(65, 65, 65);
    text-align: center;
    color: #fff;
}

figure{
    display: table;
    float: left;
    margin: 0 auto;
    padding: 15px 15px;
}
/* Imagen del banner*/
.banner{
    width: 98%;
    height: 95%;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fin imagen del banner*/

/* Menu superior o barra de navegación */

.botSuperior{
    width: 220px;
    height: 100%;
    background: #ffffff;
    color: white;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    list-style: none;
    text-align: center;
    margin-top: 1px;
}

.botSuperior a{
    color: #1d9599;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
}


.botSuperior a:hover{
    background: #125d5f;
    color: #fff;
    width: 100%;
}
/* Fin Menu superior */

/* Menu lateral*/
.botInferior{
    width: 100%;
    background: #1d9599;
    color: #fff;
    border: 0px;
    padding: 0px 0px;
    cursor: pointer;
    margin-top: 1px;
    display: inline-block;
}

.botInferior a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
}

.botInferior a:hover{
    background: #125d5f;
    color: whitesmoke;
    width: 100%;
}


h3.Menu{
    width: 100%;
    margin-bottom: 0px;
    color: #1d9599;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
    background-color: rgb(197, 197, 197);
}
/* Fin menu lateral*/